body {
    background-color: rgb(253, 251, 251);
}

header {
    border: 5px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #506188;
    text-align: center;
}
#minha_foto {
    width: 230px;
    height: 230px;
    border-radius: 30px;
    position: absolute;
    top: 100px;
}

#licoes_aprendidas {
    position: absolute;
    top: 350px;
}

#licoes_a_aprender {
    position: absolute;
    top: 650px;
}

footer {
    position: absolute;
    top: 250%;
}

#contato {
    position: absolute;
    top: 190%;
}

#img2 {
    width: 30px;
    height: 30px;
    position: absolute;
}