body {
    background-color: rgb(253, 251, 251);
}

header {
    border: 5px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #506188;
    text-align: center;
}
#minha_foto {
    width: 230px;
    height: 230px;
    border-radius: 30px;
    position: absolute;
    top: 100px;
}

#licoes_aprendidas {
    position: absolute;
    top: 350px;
}

#licoes_a_aprender {
    position: absolute;
    top: 650px;
}

footer {
    position: absolute;
    top: 300%;
}

#contato {
    position: absolute;
    top: 250%;
}

#img2 {
    width: 30px;
    height: 30px;
    position: absolute;
}

article {
    text-align: justify;
    position: absolute;
    margin: 12%;
    padding: 15%;
    font-size: large;
    color: #6CA396;
    line-height: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

aside {
    text-align: justify;
    position: absolute;
    top: 210%;
}

table {
    position: absolute;
    top: 220%;
}

table th {
    border: 1px solid black;
    background-color: #6CA396;
}
table td {
    border: 1px solid black;
    background-color: #C7C9A5;
}